header {
  background-color: #cec5bc;
  justify-content: space-between;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border: 1.5px solid #e6eaed;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 70vw;
  height: 200px;
  cursor: pointer;
  box-shadow: 10px 10px 7px 0px rgba(177, 185, 204, 0.12),
    10px 10px 5px 0px rgba(177, 185, 204, 0.14),
    10px 10px 5px 0px rgba(177, 185, 204, 0.12);
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
header:focus,
header:hover {
  transform: scale(1.03);
}
.menu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  padding-bottom: 50px;
  padding-left: 30px;
}

.mainTitle {
  padding-top: 20px;
  position: relative;
  display: block;
  text-align: center;
  font-size: 40px;
  color: #6e6662;
  text-transform: uppercase;
  width: 100%;
  line-height: 0.7em;
}
.mainTitle:hover,
.mainTitle :focus {
  color: #7584a3;
}

.title {
  margin-right: 20px;
  background-color: #af9e8e;
  display: inline-flex;
  text-decoration: none;
  border: 1.5px solid #e6eaed;
  border-radius: 15px;
  width: 200px;
  height: 22px;
  margin-block-end: 0;
  margin-block-start: 0;
  justify-content: center;
  align-items: center;
  color: #e6eaed;
  font-size: 30px;
  transition: all 0.25s;
  transition: all 0.25s allow-discrete;
  font: inherit;
  cursor: pointer;
}

.title:active,
.title:hover,
.title:focus {
  background-color: #b1b9cc;
  color: #9a8f89;
}
.authorization {
  position: absolute;
  top: 10px;
  right: 10px;
}
.titleAuthorization {
  margin-left: 20px;
  background-color: #af9e8e;
  display: inline-flex;
  text-decoration: none;
  border: 1.5px solid #e6eaed;
  border-radius: 15px;
  width: 80px;
  height: 22px;
  margin-block-end: 0;
  margin-block-start: 0;
  justify-content: center;
  align-items: center;
  color: #e6eaed;
  font-size: 30px;
  transition: all 0.25s;
  transition: all 0.25s allow-discrete;
  font: inherit;
  cursor: pointer;
}

.titleAuthorization:active,
.titleAuthorization:hover,
.titleAuthorization:focus {
  background-color: #b1b9cc;
  color: #9a8f89;
}
.logOutButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #af9e8e;
  display: inline-flex;
  text-decoration: none;
  border: 1.5px solid #e6eaed;
  border-radius: 15px;
  width: 80px;
  height: 22px;
  margin-block-end: 0;
  margin-block-start: 0;
  color: #e6eaed;
  font-size: 30px;
  transition: all 0.25s;
  transition: all 0.25s allow-discrete;
  font: inherit;
  cursor: pointer;
}
.nameLogOutButton {
  position: absolute;
  top: 10px;
  right: 100px;
  color: #6e6662;
  font-size: 20px;
}
