.container {
  display: flex;
  justify-content: center;
}
.goBack {
  display: inline-flex;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 0 15px 15px 0;
  width: 70px;
  height: 20px;
  margin-block-end: 0;
  margin-block-start: 0;
  justify-content: center;
  align-items: center;
  color: #a0ddf0;
  font-size: 14px;
  transition: all 0.003s;
}
