.container {
  display: flex;
  justify-content: center;
}
.goBack {
  position: absolute;
  top: 5px;
  left: 5px;
  display: inline-flex;
  text-decoration: none;
  border: 1px solid #e6eaed;
  border-radius: 0 15px 15px 0;
  width: 70px;
  height: 15px;
  margin-block-end: 0;
  margin-block-start: 0;
  justify-content: center;
  align-items: center;
  color: #e6eaed;
  background-color: #af9e8e;
  font-size: 12px;
  transition: all 0.003s;
}
.goback:active,
.goback:hover,
.goback:focus {
  background-color: #b1b9cc;
  color: #af9e8e;
}
