.buttonDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  font-size: 20px;
  color: #a0ddf0;
  background-color: rgb(92, 119, 151);
  width: 50px;
  height: 30px;
  border: 1px solid rgb(56, 76, 99);
  border-radius: 15px;
  cursor: pointer;
  text-transform: inherit;
  border: none;
}
.buttonDelete:hover,
.buttonDelete:focus {
  background-color: rgb(92, 119, 151);
  color: #e9f3f5;
}
.itemContact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.everyItem {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: space-between;
}
.everyItem > p {
  margin-block-end: 10px;
  margin-block-start: 10px;
}
