.contactForm {
  border: 1.5px solid #e6eaed;
  position: relative;
  width: 70vw;
  height: 300px;
  display: flex;
  border-radius: 30px;
  background-color: #af9e8e;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 10px 10px 7px 0px rgba(177, 185, 204, 0.12),
    10px 10px 5px 0px rgba(177, 185, 204, 0.14),
    10px 10px 5px 0px rgba(177, 185, 204, 0.12);
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  padding-bottom: 50px;
  padding-left: 30px;
  font-size: clamp(16px, 4vw, 20px);
}
.contactForm:focus,
.contactForm:hover {
  transform: scale(1.03);
}
.inputName {
  color: #e6eaed;
  padding-left: 10px;
}

.inputName:hover,
.inputName:focus {
  color: #b1b9cc;
}
.formInput {
  padding-left: 10px;
  margin-right: 40px;
  background-color: #cec5bc;
  color: #9a8f89;
  max-width: 30vw;
  height: 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  outline: none;
  padding-inline-end: 0;
  padding-block-start: 0;
  display: flex;
  justify-content: center;
}
.formInput:hover,
.formInput:focus {
  background-color: #e6eaed;
  border: none;
  color: #9a8f89;
}

.formInput::placeholder {
  color: #9a8f89;
  font-size: clamp(10px, 2vw, 18px);
  border: none;
  padding-inline-end: 0;
  padding-block-start: 0;
  display: flex;
  justify-content: center;
}
.formInput::placeholder::-moz-placeholder {
  color: #9a8f89;
}

.submitButton:hover,
.submitButton:focus {
  background-color: #9a8f89;
  color: #e9f3f5;
}
.submitButton {
  position: absolute;
  bottom: -50px;
  display: flex;
  font-size: 20px;
  background-color: #9a8f89;
  width: 90px;
  height: 110px;
  border: 1px solid #9a8f89;
  border-radius: 20px;
  cursor: pointer;
  left: calc(50% - 50px);
  text-transform: inherit;
}
.book {
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  z-index: 1;
}
.book_2 {
  position: absolute;
  z-index: 1;
}
