.login {
  width: 46vw;
  height: 250px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  background-color: #af9e8e;
  cursor: pointer;
  box-shadow: 10px 10px 7px 0px rgba(177, 185, 204, 0.12),
    10px 10px 5px 0px rgba(177, 185, 204, 0.14),
    10px 10px 5px 0px rgba(177, 185, 204, 0.12);

  border: solid #777;
  border-width: 2px 2px 2px 0;
  color: #fff;
  border: 1.5px solid #e6eaed;
  border-radius: 20px;
  margin: -50px 10vw 0 10vw;
  position: relative;
  text-align: center;
  -moz-transition: margin 3s;
  -o-transition: margin 3s;
  -webkit-transition: margin 3s;
  transition: margin 3s;
}

.login:focus,
.login:hover {
  margin-top: 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 25px;
  font-size: clamp(16px, 4vw, 20px);
}
.contactForm:focus,
.contactForm:hover {
  transform: scale(1.03);
}
.inputName {
  color: #6e6662;
  font-weight: 500;
  margin-block-start: 0px;
  margin-inline-end: 0px;
}

.inputName:hover,
.inputName:focus {
  color: #b1b9cc;
}
.formInput {
  display: flex;
  background-color: #cec5bc;
  color: #9a8f89;
  width: 155px;
  height: 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding-left: 10px;
}
.formInput:hover,
.formInput:focus {
  background-color: #e6eaed;
  border: none;
  color: #9a8f89;
}

.formInput::placeholder {
  padding-left: 10px;
  color: #9a8f89;
  font-size: clamp(10px, 2vw, 18px);
  border: none;
  display: flex;
  justify-content: center;
}

.submitButton:hover,
.submitButton:focus {
  background-color: #9a8f89;
  color: #e9f3f5;
}
.submitButton {
  position: absolute;
  bottom: -70px;
  left: calc(50% - 50px);
  display: flex;

  background-color: #cec5bc;
  width: 90px;
  height: 110px;
  border: 1px solid #6e6662;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: inherit;
}
.goBack {
  position: absolute;
  top: 5px;
  left: 5px;
  display: inline-flex;
  text-decoration: none;
  border: 1px solid #e6eaed;
  border-radius: 0 15px 15px 0;
  width: 70px;
  height: 15px;
  margin-block-end: 0;
  margin-block-start: 0;
  justify-content: center;
  align-items: center;
  color: #e6eaed;
  font-size: 12px;
  transition: all 0.003s;
  background-color: #af9e8e;
}
.goback:active,
.goback:hover,
.goback:focus {
  background-color: #b1b9cc;
  color: #af9e8e;
}

.submitError {
  position: absolute;
  bottom: 10px;
}

.home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
/* .homePage1,
.homePage2 {
  width: 32vw;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #af9e8e;
  cursor: pointer;
  box-shadow: 10px 10px 7px 0px rgba(177, 185, 204, 0.12),
    10px 10px 5px 0px rgba(177, 185, 204, 0.14),
    10px 10px 5px 0px rgba(177, 185, 204, 0.12);

  border: solid #777;
  border-width: 2px 2px 2px 0;
  color: #fff;
  border: 1.5px solid #e6eaed;
  border-radius: 20px;
  line-height: 48px;
  margin: -50px 0 0 0;
  position: relative;
  text-align: center;
  -moz-transition: margin 2s;
  -o-transition: margin 2s;
  -webkit-transition: margin 2s;
  transition: margin 2s;
} */

/* .homePage1:focus,
.homePage1:hover,
.homePage2:focus,
.homePage2:hover {
  margin-top: 20px;
} */

/* https://color.romanuke.com/tsvetovaya-palitra-27/ */
